<% if !user_signed_in? %>
	<div class="jumbotron">
	  <h1>Your Favorite Movies Reviewed</h1>
	  <h1> Welcome </h1>
	  <p><%= link_to "Sign Up to Write a Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
	</div>
<% else %>
	<h1>You are already signed in and ready for Movies Review</h1>
<% end %>



<div class="row">
	<% @movies.each do |movie| %>
	 <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	       <%= link_to (image_tag movie.image.url{:medium}, class: 'image'), movie %>
	    </div>
	  </div>
	<% end %>
</div>